/*individual box css including border forming game grid*/
.board{

}

.box{
text-align: center;
color:white;

}
#box1{
	background:black;
	border-right:2px white solid;
	border-bottom:2px white solid;
	height:150px;
	width:150px;
	float:left;
}

#box2{
	background:black;
	border-left:2px white solid;
	border-right:2px white solid;
	border-bottom:2px white solid;
	height:150px;
	width:150px;
	float:left;
}

#box3{
	background:black;
	border-left: 2px white solid;
	border-bottom: 2px white solid;
	height:150px;
	width:150px;
	float:left;
}

#box4{
	background:black;
	border-right: 2px white solid;
	border-bottom: 2px white solid;
	border-top:2px white solid;
	height:150px;
	width:150px;
	clear:left;
	float:left;
}


#box5{
	background:black;
	border: 2px white solid;
	height:150px;
	width:150px;
	float:left;
}

#box6{
	background:black;
	border-left: 2px white solid;
	border-bottom: 2px white solid;
	border-top:2px white solid;
	height:150px;
	width:150px;
	float:left;
}

#box7{
	background:black;
	border-right: 2px white solid;
	border-top:2px white solid;
	height:150px;
	width:150px;
	clear:left;
	float:left;
}

#box8{
	background:black;
	border-left: 2px white solid;
	border-right: 2px white solid;
	border-top:2px white solid;	height:150px;
	width:150px;
	float:left;
}

#box9{
	background:black;
	border-left: 2px white solid;
	border-top:2px white solid;	
	height:150px;
	width:150px;
	float:left;
}


